* {
    box-sizing: border-box;
    border-style: inset;
}

body {
    font-family: Arial, sans-serif;
    background-color: #bbbbbb;
    text-align: center;
    min-height: 100%;
    margin: 0;
}

header {
    background-color: #eede00;
    color: #000000;
    padding: 20px;
    font-size: 24px;
    min-height: 50px;
}

nav {
    font-family: 'Courier New', Courier, monospace;
    background-color: #fff;
    font-size: 14px;
}

.button {
    margin-top: 20px;
    padding: 20px;
}

a {
    transition: color 1s;
    color: #978d00;
}

a:hover {
    color:green;
}

.main {
    color: #978d00;
    margin: 30px;
    overflow: auto;
}

.wrap {
    min-height: 100%;
}

.footer {
    background-color: #978d00;
    min-height: 50px;
    color: #111111;
}

body {
    display: flex;
    flex-direction: column;
}

article {
    flex: 1;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
}

.flex-item-left {
    background-color: lightgray;
    padding: 10px;
    flex: 20%;
}

.flex-item-right {
    background-color: lightgray;
    padding: 10px;
    flex: 50%;
}

.flex-container > div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: left;
    padding: 20px;
    line-height: 15px;
    font-size: 18px;
    box-shadow: 10px 10px;
}

@media screen and (max-width: 600px) {
    body {
        background-color: lightgreen;
    }

    .flex-item-left, .flex-item-right {
        flex: 100%;
    }
}